.nav
{
  text-align: center;
  background-color: rgb(67, 102, 149);
  color: white;
  padding: 25px;
}
.navbar-brand {
  color: white !important;
}
.nav-link {
  color:white !important;
  margin: 0px 20px;
}
.nav-link:hover {
    box-shadow: 0 0 6px white;
    transition: all 200ms ease-out;
}